aiowebsocket==1.0.0.dev2
altgraph==0.17
asyncio==3.4.3
certifi==2020.12.5
chardet==4.0.0
future==0.18.2
idna==2.10
importlib-metadata==4.0.1
numpy==1.20.2
opencv-python==4.5.1.48
pefile==2019.4.18
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
pywin32-ctypes==0.2.0
requests==2.25.1
typing-extensions==3.10.0.0
urllib3==1.26.4
zipp==3.4.1
